.login {
  &__content-wrapper {
    padding: 2rem 0;
  }

  &__form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;

    button {
      border: none;
      border-radius: var(--imageBorderRadius);
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      font-weight: 700;
    }
  }

  &__form-control-error:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
  }

  .form-control:focus {
    color: var(--primary);
    background-color: #fff;
    border-color: var(--secondary);
    box-shadow: 0 0 0 0.25rem rgba(var(--tmdbLightBlue), 0.25);
  }

  .form-check-input:checked {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }

  &__form-group {
    width: 100%;
  }

  &__form-error {
    padding: 0.5rem 0 0 0;
    margin: 0 !important;
    color: red;
  }
}
