.footer {
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(at 30% top, #031d33 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 0 6rem 0;
  }

  &__footer-part-list-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;

    h4 {
      text-align: left;
      text-transform: uppercase;
      margin: 0;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.25rem;
      padding: 0;

      li {
        list-style: none;
        padding: 0;
      }
    }
  }
}
