.navbar-view {
  background: rgba(var(--tmdbDarkBlue), 1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
  }

  &__navbar-left {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      padding: 0.25rem 0;
    }

    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdown {
      position: relative;

      .dropdown-menu {
        position: absolute;
        top: 90%;
        left: var(--bs-navbar-nav-link-padding-x);
        border: 1px solid rgba(var(--lightGrey), 1);
        border-radius: 4px;
      }
    }
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(var(--light), 1) !important;
      font-weight: 600;

      &:hover {
        color: rgba(var(--light), 1) !important;
      }

      &:after {
        content: none;
      }
    }
  }

  &__navbar-right {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      padding: 0.25rem 0;
    }

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(var(--light), 1) !important;
      font-weight: 600;

      &:hover {
        color: rgba(var(--light), 1) !important;
        text-shadow: 0.5px 0.5px rgba(var(--light), 0.6);
      }

      &:after {
        content: none;
      }
    }

    .nav-link:last-child {
      padding-right: 0 !important;
    }
  }
}
