.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 5%;
  background: rgba(var(--tmdbDarkBlue), 1);

  &__navbar-left {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0.25rem 0;
    }

    .dropdown {
      position: relative;

      .dropdown-menu {
        position: absolute;
        top: 90%;
        left: var(--bs-navbar-nav-link-padding-x);
        border: 1px solid rgba(var(--lightGrey), 1);
        border-radius: 4px;
      }
    }
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(var(--light), 1) !important;
      font-weight: 600;

      &:hover {
        color: rgba(var(--light), 1) !important;
      }
    }
  }
}
