.detail {
  &__content-wrapper {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 4rem !important;
    z-index: 0;

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(var(--movie-primary-color), 1) 150px,
        rgba(var(--movie-primary-color), 0.84) 100%
      );
    }

    @media screen and (max-width: 576px) {
      padding: 2rem 0rem !important;
    }
  }

  .row {
    @media screen and (max-width: 576px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    --bs-gutter-x: 0 !important;
  }

  &__content-image {
    min-width: 300px;
    width: 300px;
    height: 450px;
    position: relative;

    img {
      border-radius: 8px;
    }

    #play {
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1, 1);
    }

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 3rem !important;
    gap: 0.25rem;

    @media screen and (max-width: 768px) {
      padding: 2rem 2rem !important;
    }
  }

  &__content-info-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;

    h2 {
      font-weight: 700;
      color: #fff;
      margin: 0;
    }

    h2:last-child {
      color: #fff;
      opacity: 0.8;
      font-weight: 500;
    }
  }

  &__content-info-more {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__content-age-rate {
    padding: 0.06em 4px 0.15em 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    line-height: 1;
    border-radius: 2px;
    margin-top: 2px;
    border-color: rgba(255, 255, 255, 0.6);
  }

  &__content-category,
  &__content-time {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
    }

    @media screen and (max-width: 768px) {
      margin-left: 1rem;
    }
  }

  &__content-from-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    contain: content;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__circle-percent-wrapper {
    position: relative;
    width: 60px !important;
    height: 60px;
    padding: 0 !important;
  }

  &__circle-percent-title {
    position: absolute;
    left: 110%;
    top: 58%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-weight: 700;
  }

  .CircularProgressbar .CircularProgressbar-background {
    fill: #081c22;
  }

  div[data-test-id] {
    transition: all 0.5s;

    p {
      position: relative;
      margin: 0;
      color: rgba(var(--light), 1);
      text-align: center;
      padding: 0 0.4rem 0 0.2rem;
      font-size: 1.25rem;
      font-weight: 700;

      span {
        position: absolute;
        top: 15%;
        right: 0;
        font-size: 0.4rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__user-add-favorite {
    position: relative;
    box-sizing: border-box;
    background: rgba(var(--tmdbDarkBlue), 1);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-left: 60px;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__user-add-watchlist {
    @extend .detail__user-add-favorite;
    margin-left: 1rem;
  }

  &__movie-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    flex-direction: column;
    color: #fff;
    margin-bottom: 1rem;

    h4 {
      margin-bottom: 0.5rem;
      font-size: 1.1em;
      font-weight: 400;
      font-style: italic;
      opacity: 0.7;
    }

    h3 {
      margin: 0;
    }
  }

  &__movie-people {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @media screen and (max-width: 576px) {
      justify-content: space-between;
    }
  }

  &__movie-people-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    gap: 0.25rem;
    color: #fff;

    h6 {
      font-size: 1rem;
      font-weight: 800;
      margin: 0;
    }
  }

  &__recommendations-part {
    margin-top: 2rem;
    padding: 1rem 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3);

    h4 {
      margin-bottom: 1rem;
    }
  }

  &__recommendations-content {
    position: relative;
    top: 0;
    left: -0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__recommendations-content-inner {
    height: auto;
    width: 100%;
    max-width: var(--maxPrimaryPageWidth);
    min-height: 208px;
    overflow-x: scroll !important;
    overflow-y: hidden;
    transition: height 0.5s linear;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.25rem;
    margin-bottom: 1rem;

    &::after {
      content: '';
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
      will-change: opacity;
      pointer-events: none;
    }
  }

  &__recommendation-item {
    min-width: 250px !important;
    width: 250px;
    border: none !important;
    position: relative;

    .card-img-top {
      border-radius: 8px;
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      gap: 1rem;
    }

    .card-text:first-child {
      text-overflow: ellipsis;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
